body {
    display: flex;
    /*overflow-y: hidden;*/

    margin: 0 auto;
    max-width: 100%;
    max-height: 100%;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    font-weight: 100;
    font-size: 20px;
    letter-spacing: -1.5px;
    background-color: ghostwhite;
}

#imageboardmain {
    position: fixed;
    text-align: center;
    top: 0;
    right: 50px;
    left: 50px;
}

@font-face {
    font-family: "Druk Condensed";
    src: url("/fonts/typetoday/DrukCondCy-Super-Web.woff2?domain=readymag.com&md5=QIyE6a8IzrDQMGJ8cQW-wA")
            format("woff2"),
        url("/fonts/typetoday/DrukCondCy-Super-Web.woff?domain=readymag.com&md5=ZnMSsE0AgR6UCZEylrvtMg")
            format("woff");
    font-style: normal;
    font-weight: 800;
}
#main {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
form {
    position: relative;
    height: 30px;
    width: 800px;
    left: 300px;
    top: 0;
}
.commentbox {
    position: relative;
    left: 0px;
    top: 300px;

    width: 400px;
    height: 65px;
    text-align: justify;
    background-color: ghostwhite;
    text-overflow: ellipsis;
}
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    /*visibility: invisible;*/
}
/*#main {
    position: relative;
    align-items: center;
    top: 52px;
    padding: 15px;
    margin: 15px 15px 0 0;
    left: 190px;
    height: auto !important;
    bottom: 52px;
    right: 0px;
    overflow: auto;
    width: 64%;
}*/

#thisImage {
    /*display: flex;
    justify-content: center;*/
    align-items: center;
    height: 300px;
    width: 300px;
}
#modalimage {
    position: absolute;
    top: 20px;
    left: 100px;
    height: 400px;
    width: 400px;
    opacity: 100%;
    box-shadow: ghostwhite;
}
.commentinput {
    position: fixed;
    align-content: center;
    top: 40px;
}

.info {
    position: absolute;
    align-self: center;
    top: 0px;
    left: 100px;
}
/*.comments {
    position: relative;
    bottom: 25px;
    left: 60px;
    width: 100%;
}*/
h2 {
    font-family: "Druk Wide Cy Web";
    font-size: 30px;
}
h3 {
    font-weight: 500;
}

#x {
    width: 30px;
    height: 30px;
    text-align: center;
    border-radius: 50%;
    position: absolute;
    color: rgb(247, 186, 196);
    font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
    right: 10px;
    font-size: 0;
    background-color: black;
    outline: white 3px solid;
}
.modal {
    z-index: 1;
    position: fixed;
    /*align-content: center;
    text-align: center;*/
    top: 50px;
    left: 350px;
    right: 350px;
    bottom: 50px;
    width: 600px;
    height: 600px;
    /*background-color: pink;*/
}
.modalpopup {
    align-content: center;
    text-align: center;
}
.commentcomponent {
    position: relative;
    align-content: center;
    text-align: center;

    bottom: 5px;
    left: 100px;
}

.imagebox {
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    margin-top: 70px;
    height: 330px;
    width: 330px;
}
