body {
    margin: 0 auto;
    max-width: 56em;*/
    padding: 1em 0;
}

.column {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 5vw);
    grid-gap: 15px;
}

img {
    /*display: flex;
    justify-content: center;*/
    align-items: center;
    height: 300px;
    width: 300px;
}
